@font-face {
  font-family: 'Streamline';
  src: url('fonts/Streamline.woff?39e45p') format('woff');
  font-weight: normal;
  font-style: normal;
}

.streamline {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Streamline' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.streamline-type-1:before {
  content: "\58";
}
.streamline-typist:before {
  content: "\30";
}
.streamline-hand-point:before {
  content: "\26";
}
.streamline-button:before {
  content: "\27";
}
.streamline-call_to_action2:before {
  content: "\29";
}
.streamline-bookmark-4:before {
  content: "\2e";
}
.streamline-artboard:before {
  content: "\5e";
}
.streamline-brush-1:before {
  content: "\5f";
}
.streamline-brush-2:before {
  content: "\60";
}
.streamline-magnific_popup:before {
  content: "\e006";
}
.streamline-palette2:before {
  content: "\e008";
}
.streamline-pen-5:before {
  content: "\e009";
}
.streamline-stationery-1:before {
  content: "\e01a";
}
.streamline-award-1:before {
  content: "\e026";
}
.streamline-award-2:before {
  content: "\e027";
}
.streamline-award-3:before {
  content: "\e028";
}
.streamline-award-4:before {
  content: "\e02c";
}
.streamline-award-5:before {
  content: "\e02d";
}
.streamline-award-6:before {
  content: "\e02e";
}
.streamline-hand-like-2:before {
  content: "\e032";
}
.streamline-hand-unlike-2:before {
  content: "\e03a";
}
.streamline-present:before {
  content: "\e08b";
}
.streamline-icon_star2:before {
  content: "\e093";
}
.streamline-star-2:before {
  content: "\e095";
}
.streamline-star-3:before {
  content: "\e096";
}
.streamline-icon_boxes:before {
  content: "\e138";
}
.streamline-star-5:before {
  content: "\e139";
}
.streamline-star-6:before {
  content: "\e13a";
}
.streamline-star-7:before {
  content: "\e13b";
}
.streamline-star-8:before {
  content: "\e13c";
}
.streamline-star-9:before {
  content: "\e13d";
}
.streamline-trophy:before {
  content: "\e13f";
}
.streamline-testimonials:before {
  content: "\e150";
}
.streamline-social_links:before {
  content: "\e1a1";
}
.streamline-hotspot-2:before {
  content: "\e1a2";
}
.streamline-sharing_links:before {
  content: "\e1a4";
}
.streamline-team_members:before {
  content: "\e1b4";
}
.streamline-image3:before {
  content: "\e1c4";
}
.streamline-image_hotspots:before {
  content: "\e1c5";
}
.streamline-media_gallery:before {
  content: "\e1c6";
}
.streamline-before_after:before {
  content: "\e1c7";
}
.streamline-movie-play-3:before {
  content: "\e1c9";
}
.streamline-media:before {
  content: "\e1ca";
}
.streamline-paragraph_text:before {
  content: "\e1f2";
}
.streamline-single_line_text:before {
  content: "\e1f3";
}
.streamline-exit_popup:before {
  content: "\e2a0";
}
.streamline-refresh2:before {
  content: "\e2a2";
}
.streamline-divider:before {
  content: "\e2a3";
}
.streamline-simple_slider:before {
  content: "\e2a4";
}
.streamline-scroll-horizontal-2:before {
  content: "\e2a5";
}
.streamline-sticky_menu:before {
  content: "\e2a6";
}
.streamline-sections_scroll_menu:before {
  content: "\e2a7";
}
.streamline-revolution_slider:before {
  content: "\e2a8";
}
.streamline-setting-gears-2:before {
  content: "\e2b6";
}
.streamline-switch-1:before {
  content: "\e2b8";
}
.streamline-switch-2:before {
  content: "\e2b9";
}
.streamline-calendar-1:before {
  content: "\e2c4";
}
.streamline-countdown:before {
  content: "\e2ca";
}
.streamline-counter:before {
  content: "\e2cb";
}
.streamline-map-location:before {
  content: "\e355";
}
.streamline-menu_anchor:before {
  content: "\e356";
}
.streamline-parse_page:before {
  content: "\e37c";
}
.streamline-window-list-1:before {
  content: "\e38a";
}
.streamline-single_choice:before {
  content: "\e3b6";
}
.streamline-progress_bars:before {
  content: "\e3ef";
}
.streamline-layer_slider:before {
  content: "\e45b";
}
.streamline-accordions:before {
  content: "\e45c";
}
.streamline-list-2:before {
  content: "\e45d";
}
.streamline-contact_form:before {
  content: "\e45e";
}
.streamline-registry-1:before {
  content: "\e45f";
}
.streamline-registry-2:before {
  content: "\e460";
}
.streamline-items_gird:before {
  content: "\e461";
}
.streamline-hierarchy-1:before {
  content: "\e462";
}
.streamline-hierarchy-2:before {
  content: "\e463";
}
.streamline-dropdown_menu:before {
  content: "\e464";
}
.streamline-hierarchy-4:before {
  content: "\e466";
}
.streamline-network-2-1:before {
  content: "\e467";
}
.streamline-diamond5:before {
  content: "\e469";
}
.streamline-sofa-1:before {
  content: "\e46a";
}
.streamline-sofa-2:before {
  content: "\e46b";
}
.streamline-sofa-3:before {
  content: "\e46c";
}
.streamline-html_code:before {
  content: "\e48b";
}
.streamline-list-2-1:before {
  content: "\e48d";
}
.streamline-special_heading:before {
  content: "\e493";
}
.streamline-text_block:before {
  content: "\e494";
}
.streamline-posts:before {
  content: "\e495";
}
.streamline-widget_area:before {
  content: "\e49f";
}
.streamline-table:before {
  content: "\e4a6";
}
.streamline-tetris:before {
  content: "\e533";
}
.streamline-rocket4:before {
  content: "\e592";
}
