.fw-option-type-thz-section-builder .fw-thz-section-builder-item-style-default {
	border: 1px dashed #dddddd;
	background-color: #f8f8f8;
	padding: 10px;
}

.fw-option-type-thz-section-builder .fw-builder-item-width-changer {
	height: 20px;
	display: inline-block;
}

.fw-option-type-thz-section-builder .builder-item-type .item-type-icon-title .item-type-icon img {
	opacity: 0.3;
}

.fw-option-type-thz-section-builder .builder-item-type:hover .item-type-icon-title .item-type-icon img {
	opacity: 0.45;
}

.fw-backend-option .fw-thz-section-builder-item-type-form_header_title .fw-form-item-preview-subtitle-edit .fw-builder-item-inline-text-editor input{
	width: 50% !important;
}